---

---

@import "search";
@import "pygments";
@import "open_sans";
@import "roboto";
@import "style";

.landing-page .navbar-default .nav li a {
  color: black;
}

.recreation {
  margin-top: 5%;
  margin-bottom: 2%;
}

.description {
  font-size: 15px !important;
}
