---

---
@use "search";
@use "pygments";
@use "open_sans";
@use "roboto";
@use "style";

.landing-page .navbar-default .nav li a {
  color: black;
}

.recreation {
  margin-top: 5%;
  margin-bottom: 2%;
}

.description {
  font-size: 15px !important;
}

.godot-icon {
  background: url('../assets/img/landing/icons8-godot-32.png');
  height: 32px;
  width: 32px;
  opacity: 0.5;
  display: block;
}

.itch-icon {
  background: url('../assets/img/landing/itch-io.png');
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.bluesky {
  background: url('../assets/img/landing/bluesky-brands.png');
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.icon-chess {
  background: url('../assets/img/landing/chess-solid.svg');
  height: 32px;
  width: 32px;
  opacity: 0.1;
  vertical-align: middle;
}